html,
body {
    min-height: 100%;
}

body {
    font-size: 16px;
    color: #333;
    background: radial-gradient(50vw at 50% 170px, rgb(141, 254, 235) 0%, rgb(232, 176, 254) 90%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.profile-container {
    text-align: center;
}

main {
    box-sizing: border-box;
    background: white;
    padding: 15px;
    margin: 80px auto 0;
    max-width: 600px;
}

@media screen and (min-width: 550px) {
   main {
       margin: 100px auto 0;
       padding: 0 30px 25px;
       border-radius: 5px;
   }
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 15px; 
}
h2 a {
    text-decoration: none;
    color:#885DF1; 
}

article {
    line-height: 1.4em;
}

nav.contact {
    margin-top: 20px;
    text-align: center;
}

nav.contact a {
    text-decoration: none;
    background: #ccc;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #444;
    display: block;
}

@media screen and (min-width: 550px) {
    nav.contact a {
        display: inline;
        margin-bottom: 0;
        padding: 5px 10px;
    }
}

nav.contact a:hover {
    background: #1CB5E0;
    color: white;
}

img.profile {
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    margin-top: -75px;
}
footer {
    text-align: center;
    padding-top: 10px;
}